
<div class="container-fluid my-type">
    <ul class="home-type">
            <li>
            <a routerLink="/Home"> 
                <img width="50px" src="assets/images/image4.png" alt="">
            </a>
        </li>
    </ul>
    <ul class="header-type">
        <li><a routerLink="/Home">Trang chủ</a> </li>
        <li><a routerLink="/Home">Giới thiệu</a> </li>
        <li><a routerLink="/Home">Sản phẩm</a> </li> 
        <li><a routerLink="/Home">Liên hệ</a> </li> 
        <li class="shop-bag" style="cursor: pointer;" routerLink="/Shopping-Bag">
                <img width="30px" style="margin-right: 30px;" src="assets/images/shopping-bag.png" alt="">
                <a class="quanity" >
                    {{index()}}
                </a>
        </li>
        <li  *ngIf="loginService.getProducts() as u">
            <a class="imgUser" tabindex="0">
                <img width="30px" src="assets/images/user.png" alt=""> 
                    <a (click)="proFile()" class="profile">
                    Profile
                    </a>   
                    <div (click)="btnLogOut()" class="logout">
                        Đăng Xuất
                    </div> 
            </a>
        </li>
        <li *ngIf="!loginService.getProducts()">
            <a  routerLink="/LoginMain">
                Đăng nhập
            </a>
        </li>   
    </ul>
</div>