.card {
    border-radius: 16px;
}

.card-header {
    border-bottom: 1px solid #eee;
    padding: 18px 24px;
}

.card-body {
    padding: 24px;
}

img {
    object-fit: cover;
}
.form-control,
.form-select {
    height: 48px;
    border-radius: 10px;
}

textarea.form-control {
    height: auto;
}

.form-label {
    margin-bottom: 8px;
    font-weight: 600;
}