/* Container chính */
.container {
    max-width: 900px;
    margin-bottom: 50px;
    overflow-y: scroll;
    scrollbar-width: auto;
    height: 65vh;
}
h2 {
    color: #334e68;
    font-size: 1.5rem;
}

.card {
    border-radius: 12px;
    background-color: #ffffff;
    transition: all 0.3s ease;
    border: 1px solid #f0f4f8; 
}

.card:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.05) !important;
}
.card-header {
    border-bottom: 1px solid #f1f5f9;
    border-radius: 12px 12px 0 0 !important;
}
.badge {
    padding: 8px 14px;
    font-weight: 500;
    font-size: 0.8rem;
    display: flex;
    align-items: center;
}
.card-body img {
    border: 1px solid #e2e8f0;
    transition: transform 0.2s;
}
.card-body img:hover {
    transform: scale(1.05);
}
h6.fw-bold {
    color: #102a43;
    font-size: 1rem;
}

.text-muted.small {
    color: #627d98 !important;
}
.text-dark.fw-bold {
    font-size: 1.1rem;
    color: #243b53 !important;
}
.text-danger.h5 {
    color: #d32f2f !important; 
    letter-spacing: 0.5px;
}
.text-center.py-5.bg-white {
    border: 2px dashed #cbd5e0;
    background-color: #ffffff;
}

.text-center img {
    filter: grayscale(100%);
}
.btn-outline-danger {
    border-radius: 8px;
    font-size: 0.85rem;
}
.italic {
    font-style: italic;
}
::-webkit-scrollbar {
  width: 10px; 
  height: 10px; 
}
::-webkit-scrollbar-track {
  background: #f1f1f1; 
  border-radius: 10px;
}


::-webkit-scrollbar-thumb {
  background: #858585; 
  border-radius: 10px;
  border: 2px solid #f1f1f1; 
}

::-webkit-scrollbar-thumb:hover {
  background: #bcbcbc; 
}