<div class="container py-4">

  <h3 class="fw-bold mb-4">Sản phẩm đã mua</h3>

  <!-- MOCK LIST -->
  <div class="card border-0 shadow-sm mb-3">

    <!-- ORDER 1 -->
    <div class="card-body border-bottom"
        *ngFor="let order of orders"
    >

      <div class="d-flex gap-3 align-items-center"
           *ngFor="let item of order.orderItems"
      >

        <img [src]="'https://localhost:7271' + item.product.imageUrl"
             class="rounded"
             width="80" height="80"
             style="object-fit: cover;">

        <div class="flex-grow-1">

          <div class="d-flex justify-content-between align-items-center">

            <h6 class="fw-bold mb-1">{{item.product.productName}}</h6>

           <span class="badge"
              [ngClass]="{
                'bg-warning text-dark': order.status === 'Pending',
                
                'bg-success': order.status === 'Completed',
                'bg-danger': order.status === 'Cancelled'
              }"
            >
              {{ order.status }}
            </span>
          </div>

          
          <div class="text-muted small">Ngày đặt: {{order.orderDate  |date:'dd/MM/yyyy'}}</div>

          <div class="d-flex justify-content-between align-items-center mt-2">

            <div class="text-muted small">
              Số lượng: {{item.quantity}}
            </div>

            <div class="fw-bold text-danger">
              {{item.price | number}}
            </div>

          </div>

        </div>

      </div>

      

    </div>

  </div>

</div>