<div class="cart-page">
  <div class="shopee-cart-container">
  <h2 class="cart-header">Giỏ hàng của bạn </h2>

  <div class="cart-layout">
    <div class="cart-main">

      <!-- HEADER -->
      <div class="cart-column-header">
        <div class="checkbox">
          <input type="checkbox"
                 [checked]="isAllSelected"
                 (change)="toggleSelectAll($event)"
                 >
        </div>
        <div class="col-product">Sản phẩm</div>
        <div class="col-price">Đơn giá</div>
        <div class="col-qty">Số lượng</div>
        <div class="col-total">Số tiền</div>
        <div class="col-action">Thao tác</div>
      </div>

      <!-- LIST -->
      <div class="cart-list">
      @if (cartItems.length > 0) {
        @for (item of cartItems; track item.id) {
            <div class="shopee-item">

              <!-- CHECK -->
              <div class="checkbox">
                <input type="checkbox"
                       [(ngModel)]="item.selected"
                       (change)="updateTotal()">
            </div>

              <div class="col-product">
                <div class="product-info">
                  <img src="../../assets/images/SanPham/{{item.images}}">
                  <span class="product-name">{{item.name}}</span>
            </div>
              </div>

              <div class="col-price">
                <span class="mobile-label">Đơn giá: </span>
                {{fomatPrice( item.price)}}đ
              </div>

              <div class="col-qty">
                <div class="shopee-qty-control-a">
                <button (click)="decreaseQty(item)">−</button>
                <input type="text" [value]="item.quanity" readonly>
                <button (click)="increaseQty(item)">+</button>
              </div>
            </div>

              <div class="col-total">
                <span class="mobile-label">Thành tiền: </span>
                <span class="price-highlight">
                   {{fomatPrice(item.price * item.quanity)}}đ
                </span>
              </div>

              <div class="col-action">
                <button class="delete-link"
                        (click)="removeItem(item.id)">
                  Xóa
                </button>
              </div>
            </div>
          }
        } @else {
          <div class="empty-state">
            <img src="assets/empty-cart.png">
            <p>Giỏ hàng của bạn còn trống</p>
            <button class="btn-go-shop" routerLink="/SanPham">MUA SẮM NGAY</button>
          </div>
        }
        </div>
    </div>

    <!-- SIDEBAR -->
    <div class="cart-sidebar">
      <div class="summary-card">
        <div class="summary-line">
          <span>
            Tạm tính ({{selectedCount}} sản phẩm):
          </span>
          <span>{{fomatPrice(subTotal)}}đ</span>
      </div>

        <div class="summary-line">
        <span>Phí vận chuyển:</span>
          <span>
            Miễn phí
          </span>
      </div>

       <!-- <div class="shipping-note">
          Mua thêm <strong>{{fomatPrice( 200000 - subTotal)}}đ</strong> để được Freeship!
        </div> -->

        <div class="total-section">
          <span class="total-label">Tổng thanh toán:</span>
          <span class="total-amount">{{fomatPrice( finalTotal)}}đ</span>
        </div>

        <button class="shopee-btn-main"
                [disabled]="subTotal === 0"
                 (click)="goCheckOut()"
                >
                 
          THANH TOÁN
        </button>
      </div>
    </div>
  </div>
</div>
</div>

